[submodule "use/fp-telegram"]
	path = use/fp-telegram
	url = https://github.com/Al-Muhandis/fp-telegram/
[submodule "use/brook-telegram"]
	path = use/brook-telegram
	url = https://github.com/Al-Muhandis/brook-telegram.git
[submodule "use/brookframework"]
	path = use/brookframework
	url = https://github.com/risoflora/brookframework.git
[submodule "use/brookfreepascal"]
	path = use/brookfreepascal
	url = https://github.com/risoflora/brookfreepascal.git
[submodule "use/taskworker"]
	path = use/taskworker
	url = https://github.com/Al-Muhandis/taskworker.git
[submodule "use/dopf"]
	path = use/dopf
	url = https://github.com/pascal-libs/dopf.git
